name: Build

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v2
      
      - name: Build project
        run: |
          # Mettez ici les commandes pour construire votre projet
          # Exemple: npm install && npm run build

      -   name: Upload coverage results to Coveralls
          if: matrix.coverage
          env:
              COVERALLS_REPO_TOKEN: ${{ secrets.GITHUB_TOKEN }}
              COVERALLS_PARALLEL: true
              COVERALLS_FLAG_NAME: "${{matrix.os}} | PHP${{matrix.php}} Symfony@${{matrix.symfony || '*'}}"
          run: php bin/php-coveralls -v --exclude-no-stmt

